{% extends "base.twig" %}

{% block content %}
    <div class="container">
        {% for post in posts %}
            <article class="post">
                <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
                <div class="post-content">
                    {{ post.preview }}
                </div>
            </article>
        {% endfor %}
        
        {{ function('blocksy_pagination') }}
    </div>
{% endblock %}
