{# Property Listings Block Template #}
<div class="mi-listings">
    {% if block.attributes.title %}
        <h2 class="mi-listings-title">{{ block.attributes.title }}</h2>
    {% endif %}
    
    <div class="mi-listings-layout{% if block.attributes.showFilters %} has-filters filter-{{ block.attributes.filterPosition }}{% endif %}">
        {# Filters Section #}
        {% if block.attributes.showFilters %}
            {% include "components/property-filters.twig" with {
                showPropertyTypes: block.attributes.showPropertyTypes,
                showLocations: block.attributes.showLocations,
                showAmenities: block.attributes.showAmenities,
                showBedroomFilter: block.attributes.showBedroomFilter,
                showBathroomFilter: block.attributes.showBathroomFilter,
                showGuestFilter: block.attributes.showGuestFilter,
                showPriceFilter: block.attributes.showPriceFilter
            } %}
        {% endif %}
        
        {# Properties Grid #}
        <div class="mi-listings-grid columns-{{ block.attributes.columns }}">
            {# Get properties based on filters #}
            {% set query_args = {
                'post_type': 'property',
                'posts_per_page': block.attributes.postsPerPage,
                'post_status': 'publish'
            } %}
            
            {# Add featured filter if needed #}
            {% if block.attributes.featuredOnly %}
                {% set query_args = query_args|merge({
                    'meta_query': [
                        {
                            'key': '_property_is_featured',
                            'value': '1',
                            'compare': '='
                        }
                    ]
                }) %}
            {% endif %}
            
            {# Get properties using our helper function #}
            {% set properties = get_properties(query_args) %}
            
            {% if properties %}
                {% for property in properties %}
                    {# Render property card component #}
                    {{ component('property-card', {
                        property: property,
                        title: property.title,
                        image: property.thumbnail,
                        bedrooms: carbon_get('property_bedrooms', 'post', property.id),
                        bathrooms: carbon_get('property_bathrooms', 'post', property.id),
                        max_guests: carbon_get('property_max_guests', 'post', property.id),
                        nightly_rate: carbon_get('property_nightly_rate', 'post', property.id),
                        location: property.terms('location')[0] ? property.terms('location')[0].name : '',
                        property_type: property.terms('property_type')[0] ? property.terms('property_type')[0].name : '',
                        is_featured: carbon_get('property_is_featured', 'post', property.id)
                    }) }}
                {% endfor %}
            {% else %}
                <div class="mi-listings-empty">
                    <p>No properties found matching your criteria.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
